:root {
  /*===== colors =====*/
  --clr-white-100: hsl(0, 16%, 96%);
  --clr-text: hsl(0, 0%, 33%);
  --clr-green: hsl(83, 28%, 44%);
  --clr-dark: hsl(0, 2%, 24%);

  /*===== body weights =====*/

  /*===== body fonts =====*/
  --font-fam: "Lato", sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.1;
}
html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  color: var(--clr-text);
  font-size: 62.5%;
  font-family: var(--font-fam);
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
img {
  width: 100%;
  display: block;
}
a {
  display: inline-block;
  cursor: pointer;
  color: var(--clr-white-100);
}
.border-r {
  border-radius: 0.2em;
}
.border-wht {
  outline: 1px solid rgba(255, 255, 255, 0.7);
}
.border-blck {
  outline: 1px solid var(--clr-text);
}
section {
  margin-block: 3rem;
}
/* ===== PAGE HEADER =====*/
.page__header {
  background: url(../images/backgrounds/page__header.jpg);
  background-color: rgba(35, 35, 37, 0.733);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: 76%;
  background-size: cover;
  height: 100%;
  min-height: 80vh;
  /*dispplay properties*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.page__header__navigation {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding-block: 0.9rem;
  padding-inline: 1rem;
  /*dispplay properties*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page__header--logo img {
  width: 7.5rem;
}
.page__header__navigation--list,
.page__header__navigation--contact {
  /*dispplay properties*/
  display: none;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.page__header__navigation--contact a {
  transition: all 300ms ease-in-out;
}
.page__header__navigation--contact a:hover,
.page__header__navigation--contact a:focus {
  background-color: var(--clr-white-100);
  color: var(--clr-text);
}
/*===== HIDDEN MENU ===== */
.page__header__navigation--list.show {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: red;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  transition: all 400ms ease-in-out;
}

.page__header__navigation--list.show .list__items a {
  color: var(--clr-text);
}

.page__header__navigation--list .list__items {
  margin-inline: 1rem;
}

.page__header__navigation--list .list__items a {
  color: var(--clr-white-100);
  font-weight: 400;
  font-size: clamp(1rem, 0.65rem + 1vw, 1.15rem);
}

.page__header__navigation--contact .list__item {
  color: var(--clr-white-100);
  font-weight: 400;
  margin-inline: 1rem;
}
.page__header__navigation--contact .list__item a {
  font-size: 1.1rem;
  padding-block: 1em;
  padding-inline: 2em;
}
.hero__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  color: var(--clr-white-100);
  font-size: clamp(2.1rem, 1rem + 2.25vw, 3.2rem);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2;
  opacity: 0.8;
  text-transform: uppercase;
  padding-inline: 1rem;
  padding-block: 1rem;
  text-align: center;
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
  padding-bottom: 2rem;
}
.hero__list .hero__list__items {
  font-weight: 400;
  text-align: center;
}

.hero__list .hero__list__items a,
.about__us .article__content a {
  outline: 1px solid var(--clr-white-100);
  color: var(--clr-white-100);
  font-size: clamp(1.1rem, 0.65rem + 1vw, 1rem);
  padding-block: 1em;
  padding-inline: 2em;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  transition: all 300ms ease;
}

.hero__list {
  color: white;
  outline: none;
}
.hero__list .hero__list__items a:hover,
.hero__list .hero__list__items a:focus,
.about__us .article__content a:hover,
.about__us .article__content a:focus {
  background-color: var(--clr-white-100);
  border: none;
  color: var(--clr-dark);
}
/* ===== toggleMenu ===== */
.toggleMenu {
  cursor: pointer;
  padding: 0.5rem;
  z-index: 999;
}
.bar {
  background-color: var(--clr-white-100);
  height: 3px;
  width: 32px;
  transition: all 250ms ease-in-out;
}
.bar__one {
  background-color: var(--clr-white-100);
  margin-bottom: 10px;
}
.bar__two {
  background-color: var(--clr-green);
  margin-bottom: 10px;
}
/* ===== toggleMenu Animation ===== */
.toggleMenu.open > .bar__one {
  transform: translateX(-6px);
}
.toggleMenu.open > .bar__two {
  transform: translateX(6px);
}

@media screen and (min-width: 570px) {
  .page__header--logo img {
    width: 9rem;
  }
  .hero__article {
    justify-content: center;
  }

  h1 {
    text-align: left;
  }
  .hero__list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 700px) {
  .page__header--logo img {
    width: 9rem;
  }
  .page__header__navigation--list {
    /*dispplay properties*/
    display: flex;
  }
  .toggleMenu {
    display: none;
  }
}
@media screen and (min-width: 885px) {
  .page__header__navigation--contact {
    /*dispplay properties*/
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1325px) {
  .page__header__navigation {
    padding-inline: 3rem;
  }
  .hero__article {
    padding-left: 3rem;
    padding-bottom: 3rem;
  }
  h1 {
    padding-inline: 0;
  }
  .hero__list {
    padding-inline: 0;
  }
}
@media screen and (min-width: 1400px) {
  .page__header {
    min-height: 90vh;
  }
  .page__header--logo img {
    width: 10rem;
  }
}
/* ===== PAGE HEADER END =====*/
/* ===== ARTICLE SECTION =====*/
.article__section {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article__section article {
  border-bottom: 1px solid var(--clr-text);
  display: grid;
  justify-items: center;
  align-items: start;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 1400px;
  gap: 1rem;
  padding-bottom: 3em;
}
.article__content {
  text-align: center;
}
span {
  font-size: clamp(0.88rem, 1rem + 2.25vw, 1rem);
  margin-bottom: 2rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h2 {
  font-size: clamp(1.958rem, 1rem + 2.25vw, 2.55rem);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}
p {
  font-size: clamp(0.85rem, 0.92rem + 1vw, 1.18rem);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.article__section article a,
.show-more {
  color: var(--clr-text);
  font-size: 0.85rem;
  padding-block: 1em;
  padding-inline: 3em;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.article__section article a:hover,
.article__section article a:focus,
.show-more:hover,
.show-more:focus {
  color: var(--clr-white-100);
  background-color: var(--clr-dark);
  outline: 1px solid var(--clr-dark);
  transition: all 250ms ease-in-out;
}
figcaption {
  opacity: 0;
}
.hidden__menu {
  display: none;
}
.hidden__menu.show-services {
  display: block;
}

.show-more {
  position: relative;
  cursor: pointer;
  margin-block: 2rem;
}

@media screen and (min-width: 710px) {
  article .article__content {
    text-align: left;
  }
}
@media screen and (min-width: 950px) {
  .article__section {
    padding-block: 1rem;
    margin-block: 0rem;
  }
  .article__section article {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding-block: 4rem;
  }
  .article__section article:nth-child(2n) .article__content {
    order: 2;
  }
}

@media screen and (min-width: 1325px) {
  .article__section article {
    margin-block: 4rem;
    padding-block: 5rem;
    gap: 8rem;
  }
  .article__section .article__description {
    padding-inline: 2rem;
  }
  .article__section figure img {
    max-width: 700px;
  }
}

/* ===== ABOUT US ===== */
.about__us {
  background-image: url(../images/backgrounds/audi__road.jpg);
  background-color: rgba(35, 35, 37, 0.733);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  padding-block: 2rem;
  padding-inline: 1rem;

  outline: 2px solid var(--clr-dark);
  outline-offset: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about__us span,
.about__us h2,
.about__us p {
  color: rgba(248, 248, 244, 0.938);
}
.about__us .article__content span {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.about__us .article__content p {
  max-width: 70ch;
  padding-inline: 1px;
  line-height: 1.8;
}
.about__us .article__content a {
  display: inline-block;
  transition: all 500ms ease;
}

@media screen and (min-width: 710px) {
  .about__us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline-offset: -3rem;
  }
  .about__us .article__content {
    padding-inline: 6rem;
    padding-bottom: 5rem;
    max-width: 1300px;
  }
  .about__us .article__content span {
    margin-top: 0;
  }
}
/* ===== TESTOMINAL SECTION ===== */
.testimonial__section {
  padding-inline: 1rem;
}
.testimonial__article {
  background-color: rgba(35, 35, 37, 0.068);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 300px;
  min-width: 300px;
  width: 300px;
  padding: 1.25rem;
  z-index: 6;
}
.testimonial__article header p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.testimonial__article p {
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 1.5;
}
.user__rating {
  display: flex;
  padding-block: 0.25rem;
  margin-bottom: 0.25rem;
}
.user__rating li {
  margin-right: 0.2rem;
}
.user__rating img {
  width: 1.5rem;
}

.slider__section {
  display: grid;
  grid-template-columns: repeat(6, 300px);
  gap: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

@media screen and (min-width: 1100px) {
  .testimonial__section {
    margin-block: 5rem;
    position: relative;
    overflow: hidden;
  }

  .testimonial__section h2 {
    text-align: center;
  }
  .slider__section {
    display: grid;
    grid-template-columns: repeat(3, 295px);
    justify-content: center;
    row-gap: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .testimonial__section h2 {
    text-align: center;
  }
  .slider__section {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    justify-content: center;
    row-gap: 2rem;
  }
  .slider__section article:nth-child(1) {
    position: relative;
    top: 50%;
  }
  .slider__section article:nth-child(4) {
    position: relative;
    top: 50%;
  }
  .slider__section article:nth-child(5) {
    grid-column: 2/3;
  }
}
/*===== page footer =====*/
.page__footer {
  background-color: rgb(33, 33, 37);
  color: var(--clr-white-100);
  padding-block: 2rem;
  padding-inline: 1rem;
}
.footer__header {
  border-bottom: 1px solid var(--clr-dark);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: clamp(0.75rem, 1rem + 2.25vw, 1rem);
  margin: 0;
}
.footer__logo {
  width: 12rem;
  padding-bottom: 1.55rem;
}
.footer__header .footer__list {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.footer__header .footer__list .list__item a {
  padding: 0.5rem;
}
.footer__contact--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-block: 1.5rem;
}
.contact__list {
  padding-bottom: 1rem;
}
.contact__list .list__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(0.85rem, 1rem + 2.25vw, 1rem);
  padding-block: 0.25rem;
}
.contact__list .list__item img {
  width: 1.25rem;
}
.footer__social-ico {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__social-ico .list__item {
  display: flex;
}
.footer__social-ico .list__item p {
  margin: 0;
}
.footer__social-ico .list__item img {
  width: 1.25rem;
}
@media screen and (min-width: 385px) {
  .footer__header {
    display: grid;
    grid-template-columns: repeat(4, 170px);
    gap: 0;
    justify-content: center;
  }
  .footer__logo {
    width: 11rem;
    padding-bottom: 0;
    grid-column: 1/-1;
  }
  .footer__header .footer__list {
    display: flex;
    grid-column: 2/3;
    max-width: 400px;
    position: relative;
    right: -1rem;
    padding-bottom: 0.55rem;
  }
  .footer__header .footer__list:last-of-type {
    grid-column: 3/4;
    justify-self: start;
  }
}

/* @media screen and (min-width: 1140px) {
  .footer__header {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
  .footer__logo {
    order: 2;
  }
  .footer__list:nth-of-type(2) {
    border: 1px solid red;
    order: 4;
  }
} */
